@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply font-heathergreen;
  @apply font-firacode;
}

@layer utilities {
  .rotate-180 {
    transform: rotate(180deg);
  }
}
